.ic:hover{
    animation: shake .25s;

}

@keyframes shake {
    
    10% { transform: rotate(15deg); }
    20% { transform:  rotate(-15deg); }
    30% { transform:  rotate(15deg); }
    40% { transform: rotate(-15deg); }
  
  }

  .icon:hover{
    
 
 box-shadow: 8px 8px 5px #fde68a;
}